* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(157, 157, 157);
  padding: 20px;
}

h1 {
  text-align: center;
  color: #393939;
  margin: 10px 0 10px 0;
}

div.card {
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(219, 219, 219);
  margin-top: 20px;
}

div.card img {
  margin: 10px 0;
}

p.red-color {
  color: red;
}

button.action-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #474747;
  color: white;
  margin-right: 10px;
}